@font-face {
    font-family: "Smiley";
    src: url("./assets/Smiley.otf") format("opentype");
}

@media screen and (min-width: 1260px) {
    .container {
        height: 100vh;
        flex-direction: row;

        .sidebar {
            width: 40%;
            height: 100%;
            min-width: 300px;
            align-items: flex-start;
            justify-content: space-around;
        }

        .main {
            width: 60%;

            .desc {
                position: absolute;
                left: 77%;
                top: 25%;
                max-width: 200px;
                text-align: center;
                z-index: 99;
            }

            .actions {
                justify-content: flex-start;
            }

            .divider {
                height: 500px;
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 1259px) {
    .container {
        flex-direction: column;

        .sidebar {
            width: 100%;
            justify-content: center;

            .hero {
                margin-bottom: 24px;
            }
        }

        footer {
            display: none;
        }

        .main {
            width: 100%;

            .desc {
                position: relative;
                left: 70px;
                bottom: 250px;
                max-width: 200px;
                text-align: center;
                z-index: 99;
            }

            .divider {
                height: 450px;
            }
        }

    }
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        .sidebar {
            width: 100%;
            justify-content: center;

            .hero {
                margin-bottom: 1.5em;
            }
        }

        footer {
            display: none;
        }

        .main {
            width: 100%;
            padding: 1em!important;
            .card {
                flex-direction: column !important;

                .divider {
                    visibility: hidden;
                    height: 0px;
                }
                .picker{
                    margin-top: 1.5em;
                    .image-wrapper{
                        width: 100%!important;
                        height: 300px!important;
                        img{
                            width: 100%!important;
                        }
                    }
                    .desc{
                        left: 40px!important;
                        bottom: 210px!important;
                    }
                }
            }

            .desc {
                position: relative;
                left: 70px;
                bottom: 250px;
                max-width: 200px;
                text-align: center;
                z-index: 99;
            }

            .divider {
                height: 450px;
            }
            .actions{
                flex-direction: column !important;
                a{
                    margin-bottom: 16px;
                    width: 100%;
                    text-align:center;
                }
            }
        }

    }
}



.container {
    display: flex;

    p {
        padding: 0 4px;
        max-width: 370px;
    }

    span:focus,
    p:focus {
        outline: 1px dashed #282456;
    }

    span {
        cursor: pointer;
    }

    .sidebar {
        padding: 2em;
        display: flex;
        flex-direction: column;

        img {
            height: 286px;
        }

        h1 {
            font-family: "Source Serif Pro";
            font-weight: 700;
            font-size: 2.25em;
            color: #282456;
        }

        h2 {
            font-family: "Source Sans Pro";
            font-size: 1.25em;
            color: rgba(40, 36, 86, 0.75);
            line-height: 1.5em;
            margin-top: 0.75em;
        }

        footer {
            font-family: "Source Sans Pro";
            font-size: 0.75em;
            color: rgba(40, 36, 86, 0.50);
            a{
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: #66C4AE;
                }
            }
        }
    }

    .main {
        background-color: #282456;
        padding: 2em;

        .card {
            padding: 1.5em;
            background-color: #FAFAFA;
            border-radius: 4px;
            border: solid 10px #66C4AE;
            display: flex;
            flex-direction: row;
            justify-content: center;

            h2 {
                font-size: 1.5em;
                font-family: "Smiley";
                color: #D65454;

                span {
                    color: #282456;
                    margin-left: 0.5em;
                }
            }

            .section {
                margin-top: 1.5em;
                font-family: "Smiley";
                line-height: 2em;

                h3 {
                    font-size: 1.5em;
                    color: #D65454;
                }

                p {
                    font-size: 1.25em;
                    color: #282456;
                    cursor: pointer;
                }
            }

            .divider {
                border: 0.5px solid #66C4AE;
                width: 0px;
                margin: 0 1.5em;
            }

            .salutation {
                @extend .section;
                transform: rotate(-5deg);

                p {
                    font-size: 24px;
                }
            }

            .picker {
                display: flex;
                flex-direction: column;

                &:hover>.image-wrapper {
                    opacity: 0.15;
                }

                .image-wrapper {
                    height: 375px;
                    width: 320px;
                    overflow: hidden;
                    transition-property: opacity;
                    transition-duration: 0.25s;
                    transition-timing-function: ease-in-out;
                }

                #friends {
                    width: 320px;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }

                input {
                    display: none;
                }

                label {
                    cursor: pointer;
                }

                .desc {
                    font-family: "Source Sans Pro";
                    color: #282456;

                    h3 {
                        font-size: 1.5em;
                        line-height: 1.75em;
                        margin-top: 4px;
                    }

                    p {
                        opacity: 0.75;
                        font-size: 0.75em;
                        color: #282456;
                        line-height: 1.5em;
                    }
                }
            }

        }

        .actions {
            display: flex;
            flex-direction: row;
            margin-top: 24px;
            /*#email{
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                display: none;
                input{
                    background:transparent;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    &:focus{
                        border: 1px solid #66C4AE;
                        outline: none;
                    }
                    margin-right: 8px;
                    padding: 0 8px;
                    color: #66C4AE;
                    font-family: "Source Sans Pro";
                    font-size: 1.25em;
                }
                button{
                    border-radius: 2px;
                    padding: 16px;
                    white-space: nowrap;
                    &:focus{
                        outline: none;
                    }
                    margin-right: 16px;
                }
            }*/

            a {
                border-radius: 2px;
                font-family: "Source Sans Pro";
                border: none;
                cursor: pointer;
                text-decoration: none;
                &:focus {
                    outline: none;
                }
                margin-right: 16px;
                white-space: nowrap;
            }

            .primary {
                font-size: 1.125em;
                font-weight: 600;
                color: #282456;
                padding: 1em;
                background: #FFFFFF;
                align-self: flex-start;
                transition-property: all;
                transition-duration: 0.25s;
                transition-timing-function: ease-in-out;
                &:hover{
                    transform: scale(1.01);
                }
            }

            /*.secondary {
                font-size: 1.125em;
                font-weight: 600;
                background: #282456;
                padding: 1em;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
                align-self: flex-start;
            }*/

            p {
                font-family: "Source Sans Pro";
                font-size: 0.75em;
                color: rgba(250, 250, 250, 0.50);
                line-height: 1.5em;
            }
        }
    }

}