@font-face {
  font-family: "gelpen";
  font-display: fallback;
  src: url("./assets/GelPen.ttf") format("truetype");
}
@font-face {
  font-family: "Julietta-Messie";
  font-display: fallback;
  src: url("./assets/Julietta-Messie.otf") format("opentype");
}
#nocode {
  padding: 1em;
  margin-top: 25%;
}
#nocode img {
  width: 100%;
  margin-bottom: 16px;
}
#nocode h1 {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-size: 1.5em;
  color: #282456;
  margin-bottom: 12px;
}
#nocode h2 {
  font-family: "Source Sans Pro";
  font-size: 1em;
  color: rgba(40, 36, 86, 0.75);
  line-height: 1.5;
  margin-bottom: 8px;
}
#nocode p {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  padding: 12px 16px;
  background-color: #282456;
  border-radius: 2px;
  text-align: center;
  margin-top: 16px;
}

@media screen and (min-width: 1260px) {
  #nocode {
    display: none;
  }

  .container {
    height: 100vh;
    flex-direction: row;
  }
  .container .sidebar {
    width: 40%;
    height: 100%;
    min-width: 300px;
    align-items: flex-start;
    justify-content: space-around;
  }
  .container .main {
    width: 60%;
  }
  .container .main .desc {
    position: absolute;
    left: 77%;
    top: 25%;
    max-width: 200px;
    text-align: center;
    z-index: 99;
  }
  .container .main .actions {
    justify-content: flex-start;
  }
  .container .main .divider {
    height: 500px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1259px) {
  #nocode {
    display: none;
  }

  .container {
    flex-direction: column;
  }
  .container .sidebar {
    width: 100%;
    justify-content: center;
  }
  .container .sidebar .hero {
    margin-bottom: 24px;
  }
  .container footer {
    display: none;
  }
  .container .main {
    width: 100%;
  }
  .container .main .desc {
    position: relative;
    left: 70px;
    bottom: 250px;
    max-width: 200px;
    text-align: center;
    z-index: 99;
  }
  .container .main .divider {
    height: 450px;
  }
}
@media screen and (max-width: 640px) {
  #nocode {
    display: block;
  }

  .container {
    flex-direction: column;
    display: none !important;
  }
  .container .sidebar {
    width: 100%;
    justify-content: center;
  }
  .container .sidebar .hero {
    margin-bottom: 1.5em;
  }
  .container footer {
    display: none;
  }
  .container .main {
    width: 100%;
    padding: 1em !important;
  }
  .container .main .card {
    flex-direction: column !important;
  }
  .container .main .card .divider {
    visibility: hidden;
    height: 0px;
  }
  .container .main .card .picker {
    margin-top: 1.5em;
  }
  .container .main .card .picker .image-wrapper {
    width: 100% !important;
    height: 300px !important;
  }
  .container .main .card .picker .image-wrapper img {
    width: 100% !important;
  }
  .container .main .card .picker .desc {
    left: 40px !important;
    bottom: 210px !important;
  }
  .container .main .desc {
    position: relative;
    left: 70px;
    bottom: 250px;
    max-width: 200px;
    text-align: center;
    z-index: 99;
  }
  .container .main .divider {
    height: 450px;
  }
  .container .main .actions {
    flex-direction: column !important;
  }
  .container .main .actions a {
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
  }
}
.container {
  display: flex;
}
.container p {
  padding: 0 4px;
  max-width: 370px;
}
.container span:focus,
.container p:focus {
  outline: 1px dashed #282456;
}
.container span {
  cursor: pointer;
}
.container .sidebar {
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.container .sidebar img {
  height: 286px;
}
.container .sidebar h1 {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-size: 2.25em;
  color: #282456;
}
.container .sidebar h2 {
  font-family: "Source Sans Pro";
  font-size: 1.25em;
  color: rgba(40, 36, 86, 0.75);
  line-height: 1.5em;
  margin-top: 0.75em;
}
.container .sidebar footer {
  font-family: "Source Sans Pro";
  font-size: 0.75em;
  color: rgba(40, 36, 86, 0.5);
}
.container .sidebar footer a {
  text-decoration: none;
  color: inherit;
}
.container .sidebar footer a:hover {
  color: #66C4AE;
}
.container .main {
  background-color: #282456;
  padding: 2em;
}
.container .main .card {
  padding: 1.5em;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: solid 10px #66C4AE;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .main .card h2 {
  font-size: 1.7em;
  font-family: "Julietta-Messie";
  color: #D65454;
}
.container .main .card h2 span {
  font-family: "Julietta-Messie";
  font-size: 1.2em;
  color: #282456;
  margin-left: 0.5em;
}
.container .main .card .section, .container .main .card .salutation {
  margin-top: 2em;
}
.container .main .card .section h3, .container .main .card .salutation h3 {
  font-family: "Julietta-Messie";
  font-size: 1.7em;
  color: #D65454;
}
.container .main .card .section p, .container .main .card .salutation p {
  font-family: "gelpen";
  font-size: 1.2em;
  margin-top: 0.2em;
  line-height: 1.5em;
  color: #282456;
  cursor: pointer;
}
.container .main .card .last-row {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .main .card .divider {
  border: 0.5px solid #66C4AE;
  width: 0px;
  margin: 0 1.5em;
}
.container .main .card .salutation {
  transform: rotate(-5deg);
  max-width: 150px;
}
.container .main .card .salutation p {
  font-family: "Julietta-Messie";
  margin-top: 0.3em;
  font-size: 2em;
}
.container .main .card .picker {
  display: flex;
  flex-direction: column;
}
.container .main .card .picker:hover > .image-wrapper {
  opacity: 0.15;
}
.container .main .card .picker .image-wrapper {
  height: 350px;
  width: 320px;
  overflow: hidden;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.container .main .card .picker #friends {
  width: 320px;
  object-fit: cover;
  border-radius: 4px;
}
.container .main .card .picker input {
  display: none;
}
.container .main .card .picker label {
  cursor: pointer;
}
.container .main .card .picker .desc {
  font-family: "Source Sans Pro";
  color: #282456;
}
.container .main .card .picker .desc h3 {
  font-size: 1.5em;
  line-height: 1.75em;
  margin-top: 4px;
}
.container .main .card .picker .desc p {
  opacity: 0.75;
  font-size: 0.75em;
  color: #282456;
  line-height: 1.5em;
}
.container .main .actions {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.container .main .actions #email {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  display: none;
}
.container .main .actions #email input {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-right: 8px;
  padding: 0 8px;
  color: #66C4AE;
  font-family: "Source Sans Pro";
  font-size: 1.25em;
}
.container .main .actions #email input:focus {
  border: 1px solid #66C4AE;
  outline: none;
}
.container .main .actions #email button {
  border-radius: 2px;
  padding: 16px;
  white-space: nowrap;
  margin-right: 16px;
}
.container .main .actions #email button:focus {
  outline: none;
}
.container .main .actions a {
  border-radius: 2px;
  font-family: "Source Sans Pro";
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 16px;
  white-space: nowrap;
}
.container .main .actions a:focus {
  outline: none;
}
.container .main .actions .primary {
  font-size: 1.125em;
  font-weight: 600;
  color: #282456;
  padding: 1em;
  background: #FFFFFF;
  align-self: flex-start;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.container .main .actions .primary:hover {
  transform: scale(1.01);
}
.container .main .actions .secondary {
  font-size: 1.125em;
  font-weight: 600;
  background: #282456;
  padding: 1em;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  align-self: flex-start;
}
.container .main .actions p {
  font-family: "Source Sans Pro";
  font-size: 0.75em;
  color: rgba(250, 250, 250, 0.5);
  line-height: 1.5em;
}

#loader {
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 0px;
}

.lds-ellipsis div {
  position: absolute;
  top: -13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*# sourceMappingURL=style.css.map */
